.parte-superior{
    text-align: right;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: stretch;
    flex-direction: row;
    gap: 20px;
    }
    /*display: inline-block*/
    /*padding: 10px 10px 12px 0px;
